.container {
  display: flex;
  flex-direction: column;
  padding: 60px 170px;
  max-width: 1924px;
}
.container h2 {
  color: #424244;
  font-size: 40px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.BlogsItemBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 18px;
}
.BlogsItemBar h3 {
  color: #424244;
  margin-top: 0px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
